@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
  0% {
    stroke-dasharray: 0, 1000;
  }
  50% {
    stroke-dasharray: 500, 500;
  }
  100% {
    stroke-dasharray: 0, 1000;
  }
}

.animate-line {
  animation: pulse 1s infinite;
  stroke-dasharray: 1000, 1000;
  stroke-dashoffset: 0;
}